@keyframes vibrate-tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    /* Tilts to -5 degrees */
    50% {
        transform: rotate(5deg);
    }

    /* Tilts to 5 degrees */
    75% {
        transform: rotate(-5deg);
    }

    /* Tilts to -5 degrees */
    100% {
        transform: rotate(5deg);
    }

    /* Tilts to 5 degrees */
}

.vibrate-animation {
    animation: vibrate-tilt 0.3s infinite;
    animation-delay: 1s;
}

.vibrate-animation:hover {
    animation-play-state: paused;
}

.center {
    text-align: center;
}

.profile-content {
    background: white;
}

.card-body {
    min-height: 70px;
}

.table-danger {
    border-color: red;
}

.table-warning {
    border-color: orange;
}

.fill {
    background-color: #f2f4f5;
}

.accordion {
    width: 100%;
}

.accordion-header {
    display: flex;
    /* justify-content: space-between; */
}

/* This is for the accordion content */
.accordion-content {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    /* This ensures it takes up no more than the full width of its parent */
}

/* Each individual content section inside the scrollable content area */
.content-section {
    flex: 0 0 auto;
    width: 100%;
}